.jumbotron {
    background-color: #ecd44c;
}


.jumbotron p{
    margin: 0;
}

section{
    padding-top: 6rem;
}

.gallery-img{
    width: 100%;
}

#gallery .row > *{
    padding: 0;
}

#projects{
    background-color: #ecd44c;
}